/* Section */
.dark .section-title .h-bg::after {
  width: 0px !important;
  height: 0px !important;
}
.dark .section-title h2 {
  color: #FFFFFF !important;
}
.dark .section-title p {
  color: #EEEEEE !important;
}


/* Navbar */
.dark .bg-nav.scrolled {
  background: #0D1B2A !important;
  box-shadow: var(--mdb-navbar-box-shadow);
}
.dark #navbarNav .select2 .select2-selection{
  background-color: transparent !important;
}

/* Hero */
.dark #hero {
  background: linear-gradient(to bottom left, #273748, #021526) !important;
}
.dark #hero h1{
  color: #FFFFFF;
}
.dark #hero p{
  color: #FFFFFF;
}
.dark #hero a{
  color: #FFFFFF;
}

/* Statistic */
/* .dark #statistic{
  background: linear-gradient(to bottom right, #021526, #273748) !important;
} */
.dark #statistic .card{
  border: 1px solid #2E4057;
  background-color: #1B263A;
  box-shadow: 0px 0px 0px transparent !important;
  
}
.dark #statistic .h4{
  color:#FFFFFF !important;
}
.dark #statistic p{
  color:#778DA9;
}

/* About */
.dark #about .card, .dark #about .rounded-7{
  background-color: #1B263A99 !important;
}
.dark #about .card h2{
  color:#FFFFFF !important;
}
.dark #about .card p, .dark #about .card span{
  color:#778DA9;
}

/* Maps */
.dark #maps {
  background: linear-gradient(to bottom, #141B35, #021526) !important;
}
.dark #maps .card {
  border: 1px solid #2E4057;
  background-color: #1B263A !important;
}

/* Ensiklopedia */
.dark #city{
  background-color: #1B263A !important;
}
.dark #city .city-info h2,
.dark #city .modal h3, 
.dark #city .modal .modal-header button,
.dark #city #agenda .card p{
 color: #FFFFFF; 
}
.dark #city .city-info p,
.dark #city .modal p,
.dark #city .modal span, 
.dark #city .modal tr{
  color: #EEEEEE;
}
.dark #city .modal .modal-content{
  border: 1px solid #2E4057;
  background-color: #1B263A !important;
}
.dark #city #agenda .card {
  border: 1px solid #2E4057;
  background-color: #1B263A !important;
}

/* Gallery */
.dark #gallery{
  background-color: #021526 !important;
}

/* Agenda */
.dark #agenda{
  background-color: #1B263A !important;
  /* background-color: #021526 !important; */
}
.dark #agenda .card{
  border: 1px solid #2E4057;
  background-color: #021526 !important;
}
.dark #agenda .card h4{
  color: #FFFFFF !important;
}
.dark #agenda .card p{
  color: #DDD !important;
}

/* Nusantara */
.dark #nusantara{
  background-color: #1B263A !important;
}
.dark #nusantara h5{
  color: white !important;
}
.dark #nusantara p,
.dark #nusantara span{
  color: #778DA9 !important;
}
.dark #nusantara img{
  filter: drop-shadow(0px 0px 0px #FFFFFF) !important;
}

/* Maritim */
.dark #maritim{
  background: #021526 !important;
}
.dark #maritim h5,
.dark #maritim p{
  color: #FFFFFF !important;
}
.dark #maritim span,
.dark #maritim p.text-muted{
  color: #778DA9 !important;
}
.dark #maritim .timeline-with-icons {
  border-left: 1px solid #173d52 !important;
}

/* Virtual */
.dark #virtual{
  background-color: #1B263A;
}

/* Testimonial */
.dark #testimonial {
  background: #021526 !important;
}
.dark #testimonial .card,
.dark #testimonial .btn-light,
.dark #testimonial .modal .modal-content{
  border: 1px solid #2E4057;
  background-color: #1B263A !important;
}
.dark #testimonial .card h6,
.dark #testimonial .modal label,
.dark #testimonial .modal .modal-header button{
 color: #FFFFFF; 
}
.dark #testimonial .card p,
.dark #testimonial .btn-light,
.dark #testimonial .modal p{
  color: #CCCCCC;
}
.dark #testimonial .modal input,
.dark #testimonial .modal textarea{
  background-color: transparent;
  color: #CCCCCC;
  border: 1px solid #2E4057;
}
.dark #testimonial .modal input::placeholder,
.dark #testimonial .modal textarea::placeholder{
  color: #AAAAAA;
}

/* Footer */
.dark footer #footer{
  background-color: #1B263A !important;
}
.dark footer #footer h6,
.dark footer #footer p{
 color: #FFFFFF; 
}
.dark footer #credit{
 background-color: #021526; 
 color: #FFFFFF;
}

/* Scrollbar */
.dark::-webkit-scrollbar-track
{background-color: #1B263A;}