*{
  font-family: 'Poppins';
}
.btn{
  border-radius: 50px !important;
}
.btn-secodary:focus{
  background-color:red;
}
.modal-header button{
  background-color: transparent;
}
.modal-backdrop{
  width: 105vw !important;
  height: 105vh !important;
}
.sea-bg {
  background-image: url('assets/img/bg-about.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Section */
section{ 
  padding: 60px 0;
}
.section-title {
  text-align: center;
  padding-bottom: 40px;
  position: relative;
}
.section-title h2{
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.section-title .h-bg::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(/assets/img/section-title-bg.png) no-repeat;
  z-index: -1;
}
.section-title h5{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.section-title p{
  font-size: 16px;
}


@media (max-width: 600px) {
  .section-title h2{
    font-size: 36px;
  }
}


/* Navbar */
.bg-nav {
  background: white;
  transition: 0.2s ease-in;
}
.bg-nav.scrolled {
  box-shadow: var(--mdb-navbar-box-shadow);
}
.nav-link{
  font-size: 15px;
  margin: 0px 4px;
}
@media (max-width: 992px) {
  .bg-nav.scrolled .navbar-toggler {
    display: block;
  }
}
#navbarNav .select2 .select2-selection{
  border-radius: 12px;
}
#navbarNav .select2 .select2-selection__arrow{
  display: none;
}
#navbarNav .select2 .select2-selection__rendered{
  min-width: 200px;
  color: #999999;
}
#navbarNav .lang button img{
  height: 16px;
  border-radius: 2px;
}

/* Hero */
#hero {
  /* background: linear-gradient(to bottom left, #FFFFFF, #E2EAF7 ); */
  background-color: #FFFFFF;
}
#hero h1{
  font-size: 60px;
}
@media (max-width: 992px) {
  #hero h1{
    font-size: 32px;
  }
}
#hero .ship {
  animation: ship 10s ease-in-out infinite; /* Animasi looping */
  opacity: 0.9;
}

@keyframes ship {
  0% {transform: translateY(0px) rotate(0deg);}
  25% {transform: translateY(-20px) rotate(3deg);}
  50% {transform: translateY(0px) rotate(0deg);}
  75% {transform: translateY(-20px) rotate(-3deg);}
  100% {transform: translateY(0px) rotate(0deg);}
}

#hero .wave {
  margin-top: -100px;
}
#hero .waves {
  width: 100%;
  height: 80px;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

#hero .wave .wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
  fill: #82C5D6;
  opacity: 0.6;
}

#hero .wave .wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
  fill: #82C5D6;
  opacity: 0.4;
}

#hero .wave .wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
  fill: #82C5D6;
}

@keyframes move-forever1 {
  0% {transform: translate(85px, 0%);}
  100% {transform: translate(-90px, 0%);}
}
@keyframes move-forever2 {
  0% {transform: translate(-90px, 0%);}
  100% {transform: translate(85px, 0%);}
}
@keyframes move-forever3 {
  0% {transform: translate(-90px, 0%);}
  100% {transform: translate(85px, 0%);}
}
@keyframes up-down {
  0% {transform: translateY(10px);}
  100% {transform: translateY(-10px);}
}


/* Statistic */
#statistic .card:hover{
  margin-top: -20px;
  transform: rotate(-5deg);
}
#statistic .card{
  transition: all ease-in-out 0.3s;
  border: 1px solid #FFFFFF;
}
#statistic img{
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Quote */
#quote .btn-floating{
  width: 32px;
  height: 32px;
  z-index: 2;
}
#quote .testimonial-prev{
  margin-right: -8px;
}
#quote .testimonial-next{
  margin-left: -8px;
}

/* Map */
#maps {
  /* background: linear-gradient(to bottom right, #FFFFFF, #E2EAF7 ); */
  background-color:  #141B35;
  background-repeat: no-repeat;
  background-size: contain;
}
#maps .select2{
  min-height: auto;
  transition: all .1s linear;
  box-shadow: none;
}
#maps .select2-selection__rendered{
  margin-top: auto;
  margin-block: auto;
}
#maps .select2-selection__arrow{
  display: none;
}
#maps .select2 .select2-selection{
  border-radius: 12px;
  height: 48px;
  display: flex;
}
#maps .cloud{
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  #maps .cloud1{
    background-size: 0px !important;
  }
}
#maps .cloud1{
  background-image: url('/assets/img/goldfish1.png'); 
  background-size: 70px;
  animation: cloud1 40s linear infinite;
}
#maps .cloud1x{
  background-image: url('/assets/img/goldfish2.png'); 
  background-size: 60px;
  animation: cloud1x 50s linear infinite;
}
#maps .cloud2{
  background-image: url('/assets/img/goldfish1.png'); 
  background-size: 70px;
  animation: cloud2 45s linear infinite;
}
#maps .cloud2x{
  background-image: url('/assets/img/goldfish2.png'); 
  background-size: 70px;
  animation: cloud2x 60s linear infinite;
}
#maps .cloud3{
  background-image: url('/assets/img/goldfish1.png'); 
  background-size: 65px;
  animation: cloud3 55s linear infinite;
}
@keyframes cloud1 { 0% {background-position: 0% 0;} 100% {background-position: 110% 0;} }
@keyframes cloud1x { 0% {background-position: 110% 18%;} 100% {background-position: -10% 18%;} }
@keyframes cloud2 { 0% {background-position: 0% 50%;} 100% {background-position: 110% 50%;} }
@keyframes cloud2x { 0% {background-position: 110% 60%;} 100% {background-position: -100% 60%;} }
@keyframes cloud3 { 0% {background-position: 0% 90%;} 100% {background-position: 110% 90%;} }

/* Ensiklopedia */
#city{
  background-color: #E2EAF7;
}
#city .card{
  height: 95%;
  min-height: 150px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
#city .card:hover{
  margin-top: -20px;
  transform: rotate(-5deg);
}
#city .img-overlay{
  width: 100%;
  position: absolute;
  bottom: 85px;
}
#city .img-thumb{
  aspect-ratio: 4/5;
  object-fit: cover;
}
#city .select2-container{
  width: fit-content !important;
}
#city .select2 .select2-selection{
  border-radius: 20px;
  border: 2px solid #54B4D3;
  background-color: transparent;
}
#city .select2 .select2-selection__arrow{
  display: none;
}
#city .select2 .select2-selection__rendered{
  min-width: 200px;
  font-size: 12px;
  margin-top: -2px;
  color: #54B4D3;
  text-transform: uppercase;
}


/* Virtual */
#virtual{
  background-color: #E2EAF7;
}
.swiper.mySwiper2 {
  width: 100%;
  padding-bottom: 50px;
}

.mySwiper2 .swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.mySwiper2 .swiper-slide-active {
  filter: blur(0px);
}

.mySwiper2 .swiper-pagination-bullet,
.mySwiper2 .swiper-pagination-bullet-active {
  background: #fff;
}

.mySwiper2 .swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.mySwiper2 .swiper-slide span {
  background: #3B71CA;
}

.mySwiper2 .swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.mySwiper2 .swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.mySwiper2 .swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.mySwiper2 .swiper-3d .swiper-slide-shadow-left,
.mySwiper2 .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* Virtual Modal VR */
#panorama {
  height: 400px;
}
#modal-vr .btn-close{
  position: absolute;
  right: 0;
  z-index: 2;
}
#modal-vr .gmaps{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  font-size: 10px;
  color: white;
  background: #00000050;
}
#modal-vr .vr-close{
  position: absolute;
  right: 0;
  z-index: 2;
  color: white;
  background: #00000050;
}

/* Testimonial */
#testimonial {
  background: linear-gradient(to bottom left, #FFFFFF, #E2EAF7 );
}
#testimonial img{
  aspect-ratio: 1/1;
  object-fit: cover;
}
#testimonial .btn-floating{
  width: 32px;
  height: 32px;
  z-index: 2;
}
#testimonial .testimonial-prev{
  margin-right: -8px;
}
#testimonial .testimonial-next{
  margin-left: -8px;
}
#testimonial #review .modal-content{
  border-radius: 10px;
}
#testimonial #review .modal-body{
  padding: 40px;
}
#testimonial #review .btn-close{
  position: absolute;
  right: 0;
  z-index: 2;
  font-size: 12px;
}
#testimonial #review h5{
  font-size: 22px;
}
#testimonial #review p, #testimonial #review label{
  font-size: 14px;
}

/* History Nusantara */
#nusantara .horizontal-timeline .items {
  border-top: 3px solid #e9ecef;
}
#nusantara .horizontal-timeline .items .items-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}
#nusantara .horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}
#nusantara .horizontal-timeline .items .items-list .event-date {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 8px;
}
@media (min-width: 1140px) {
  #nusantara .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }
  #nusantara .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}


/* History Marines */
#maritim {
  background: linear-gradient(to bottom, #FFFFFF, #E2EAF7);
}
#maritim .timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}
#maritim .timeline-with-icons .timeline-item {
  position: relative;
}
#maritim .timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}
#maritim .timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: #54B4D340;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Gallery */
/* #gallery #imageModal {
  max-width: 80vh;
} */
#gallery #imageModal .btn-close{
  position: absolute;
  right: 0;
  z-index: 2;
}
#gallery #imageModal .vr-close{
  position: absolute;
  right: 0;
  z-index: 2;
  color: white;
  background: #00000050;
}
#gallery .jg-caption{
  background: linear-gradient(to bottom, transparent, #00000099);
  display: block;
  height: 100px;
  align-content: end;
  padding: 12px;
}

/* Agenda */
#agenda{
  background-color: #E2EAF7;
}
#agenda img {
  width: 80%;
  object-fit: cover;
  aspect-ratio: 16/9;
}
#agenda .agenda-info p{
  font-size: 14px;
}
#agenda .swiper .icon{
  text-align: center;
}
@media (max-width: 992px) {
  #agenda img {
    /* max-width: 50px; */
  }
  #agenda h4 {
    font-size: 14px;
  }
  #agenda .agenda-info p{
    font-size: 12px;
  }
  #agenda .card .btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

*{
	cursor: url(/assets/img/cursor.png),auto !important;
}
/* Scrollbar */
::-webkit-scrollbar
{width: 8px;height: 8px;}
::-webkit-scrollbar-track
{border-radius: 0px;}
::-webkit-scrollbar-thumb {
  background: #295F9890; 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover
{background: #295F98; }